@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
.btn:hover {
    color: #9A9A9A;
    fill: #9A9A9A;
}

.btn {
    color: #55595c;
    fill: #55595c;
}

.btn-dark {
    background-color: #2A2A2A;
}

.btn-primary, .btn-gray {
    background-color: #252525;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.btn-primary:hover, .btn-gray:hover {
    background-color: #202020;
    color: #FFFFFF;
    fill: #FFFFFF;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

p {
    font-weight: 400;
}

/* Shake Animation */

.shake {
    animation: shake .1s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-3%);
    }
    80% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(0);
    }
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #6F6F71;
}

*::-webkit-scrollbar-thumb:hover {
    background: #5C5C5E;
}

* {
    scrollbar-width: thin;
}