@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'M PLUS 1p';
    font-weight: 200;
    src: url('./fonts/mplus-1p-thin.woff2');
}
@font-face {
    font-family: 'M PLUS 1p';
    font-weight: 300;
    src: url('./fonts/mplus-1p-light.woff2');
}
@font-face {
    font-family: 'M PLUS 1p';
    font-weight: 400;
    src: url('./fonts/mplus-1p-regular.woff2');

}
@font-face {
    font-family: 'M PLUS 1p';
    font-weight: 500;
    src: url('./fonts/mplus-1p-medium.woff2');
}
@font-face {
    font-family: 'M PLUS 1p';
    font-weight: 600;
    src: url('./fonts/mplus-1p-medium.woff2');
}

.btn-primary:hover {
    color: #9A9A9A;
    fill: #9A9A9A;
    background-color: #1A1A1A;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #1E1E1E;
}

.btn-primary:focus {
    background-color: #1A1A1A;
    /* box-shadow: initial; */
}

.btn-primary, .btn-gray {
    background-color: #151515;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.close {
    text-shadow: initial;
    font-size: 1.5rem;
    font-weight: initial;
    opacity: initial;
}

.table-dark {
    background-color: #111112;
}

.table-dark td,.table-dark th,.table-dark thead th {
    border-color: #151515;
}

body {
    font-family: "Nunito Sans", "M PLUS 1p", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

.modal-title {
    font-weight: 400;
}

.modal-content {
    border: none;
}

p {
    font-weight: 400;
}

/* Shake Animation */
.shake {
    animation: shake .1s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-3%);
    }
    80% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(0);
    }
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar:horizontal {
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #161616;
}

*::-webkit-scrollbar-thumb:hover {
    background: #1E1E1E;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #161616 transparent;
}